@import "tailwindcss";

@theme {
  --color-background: #1e2437;
  --color-foreground: #f8fafc;
  --color-primary: #1ed760;
  --color-primary-dark: #1db954;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
